.navBar {
  display: flex;
  color: rgb(254, 70, 165);
  background-color: "white";
  height: 5rem;
  font-family: "Bricolage Grotesque";
  padding-top: 5px;
}

.products {
  color: pink;
  display: flex;
  padding-top: 50px;
  background-color: rgb(116, 203, 235);
  background-image: url("https://barbiepedia.com/img/barbie/800/HYB73RAFFLE_0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Bricolage Grotesque";
}

.login {
  color: pink;
  padding-top: 25px;
  background-color: rgba(249, 172, 216, 255);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/BARBIE_LOGO_alt.svg/1200px-BARBIE_LOGO_alt.svg.png");
  background-position: "bottom right";
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Bricolage Grotesque";
  height: 52rem;
  padding-left: 7rem;
  text-align: left;
  align-content: left;
}
